@use "abstracts" as *;
@use "utilities" as *;
@use "base" as *;

$border-radius: 10px;

main {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 100vw;
  max-width: 30rem;
  max-height: 40rem;
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

h1 {
  font-size: inherit;
}

header {
  display: flex;
  justify-content: space-between;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: $border-radius;
}

.keypad {
  flex-grow: 1;
  border-radius: $border-radius;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas:
    "seven eight nine delete"
    "four five six plus"
    "one two three minus"
    "bullet zero divide times"
    "reset reset equals equals";
}

.key {
  border-radius: 5px;
  display: grid;
  place-items: center;
  border: none;
  transition: all 0.05s ease-in-out;

  &:active {
    filter: brightness(70%);
    transform: translateY(2px);
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.delete,
  &.reset,
  &.equals {
    text-transform: uppercase;
    font-size: 0.5em;
  }

  &.seven {
    grid-area: seven;
  }

  &.eight {
    grid-area: eight;
  }

  &.nine {
    grid-area: nine;
  }

  &.delete {
    grid-area: delete;
  }

  &.four {
    grid-area: four;
  }

  &.five {
    grid-area: five;
  }

  &.six {
    grid-area: six;
  }

  &.plus {
    grid-area: plus;
  }

  &.one {
    grid-area: one;
  }

  &.two {
    grid-area: two;
  }

  &.three {
    grid-area: three;
  }

  &.minus {
    grid-area: minus;
  }

  &.bullet {
    grid-area: bullet;
  }

  &.zero {
    grid-area: zero;
  }

  &.times {
    grid-area: times;
  }

  &.reset {
    grid-area: reset;
  }

  &.equals {
    grid-area: equals;
  }
}

.theme-selector {
  display: grid;
  grid-auto-flow: column;
  font-size: 0.8rem;
  gap: 1rem;

  &-title {
    align-self: flex-end;
    letter-spacing: 1px;
  }
}

.toggle {
  display: flex;
  flex-direction: column;

  &-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    > span {
      width: 15px;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }

  &-selection-wrapper {
    flex-grow: 1;
    position: relative;
    border-radius: 9999px;
  }

  &-selection {
    $DIAMETER: 20px;
    position: absolute;
    height: $DIAMETER;
    width: $DIAMETER;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 9999px;

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0;
  position: absolute;
  top: 25px;
}
